/* testing to make sure css is deployed */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	color: #666666;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.25;
}
.row {
	padding: 20px;
	width: calc(100vw - 20px);
}
.row-odd {
	background: #eeeeee;
}
.column {
	margin: 0 auto;
	max-width: 1024px;
}
a {
	color: #FF8200;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
	color: #4A4A4A;
	font-weight: 600;
}
h1, h2, h3, h4 {
	font-family: 'Lora', serif;
	margin-bottom: 10px;
}
h5, h6 {
	margin-bottom: 5px;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 18px;
}
h1, li {
	margin-bottom: 10px;
}
p {
	line-height: 1.4;
	margin-bottom: 15px;
}
hr {
	margin-bottom: 15px;
}
figure {
	margin: 0 auto 10px auto;
	padding: 25px 15px;
	text-align: center;
	width: 90%;
}
figure img {
	border: 1px solid #000;
	box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.1);
	height: auto;
	max-height: 250px;
	max-width: 85%;
	width: auto;
}
figcaption {
	font-size: 0.7rem;
	font-weight: bold;
}
ul, ol {
	margin: 20px 10px;
}
ol {
	padding-left: 20px;
}
ol li {
	padding-left: 10px;
}
ul li {
	list-style-position: outside;
	margin-left: 10px;
}
/* ul li:before {
	content: "\f111";
	display: inline-flex;
	font-family: FontAwesome;
	font-size: 6px;
	margin-right: 20px;
	vertical-align: middle;
} */
ul li ul li:before {
	content: "\f10c";
}
small {
	font-size: 12px;
}
footer {
	border-top: 1px #666 solid;
	padding: 20px 0;
	text-align: center;
}
ul.contact-links {
	list-style-type: none;
	margin: 0 0 10px 0;
}
/* .social-links {
	list-style-type: none;
	padding-left: 0;
}
.social-links li:before {
	display: none;
}
.social-links a {
	vertical-align: middle;
} */
.callout {
	background: #eee;
	margin: 10px;
	padding: 20px;
}
.fa {
	align-items: center;
	border-radius: 50%;
	color: #fff;
	display: inline-flex;
	font-size: 14px;
	height: 25px;
	justify-content: center;
	margin-left: 3px;
	margin-right: 1px;
	text-align: center;
	width: 25px;
}
.fa-linkedin {
	background-color: #007bb6;
}
.fa-github-alt {
	background-color: #333;
}
.skills,
.programming-languages {
	font-size: 80%;
}
@media (min-width: 768px) {
	footer {
		padding: 50px 0;
	}
	.row {
		width: 100%;
	}
	.columns {
		display: flex;
		margin: 0 auto;
		max-width: 1024px;
	}
	.column {
		flex: 1;
		width: 512px;
	}
	.column-left {
		padding-right: 20px;
	}
}
