/* variables */
:root {
	/* colors */
	--color-black: #000000;
	--color-gray-dark: #282828;
	--color-gray-light: #FBFBFB;
	--color-orange-light: #F8EDE0;
	--color-orange-dark: #F35A04;
	--color-orange-dark2: #983106;
	--color-white: #ffffff;
	--font-family-heading: 'Lora', serif;
	--font-family-body: 'Open Sans', sans-serif;

	/* font sizes */
	--font-size-h1: 48px;
	--font-size-h2: 32px;
	--font-size-h3: 24px;
	--font-size-body: 18px;
	--font-size-small: 14px;

	/* margins */
	--margin-base: 10px;

	/*
	Added by Javascript:
	--alert-height
	*/
}

/* light reset */
* {
	color: var(--color-black);
	box-sizing: border-box;
	font-family: var(--font-family-body);
	font-size: var(--font-size-body);
	line-height: 1;
	margin: 0;
	padding: 0;
}

/* body base styles */
body {
	background-color: var(--color-gray-light);
}

/* heading base styles */
h1, h2, h3, h4, h5, h6 {
	color: var(--color-gray-dark);
}
h1, h2, h3 {
	font-family: var(--font-family-heading);
}

/* list base styles */
ol, ul {
	list-style-position: inside;
}

ul {
	list-style-type: none;
}

/* paragraph base styles */
p {
	line-height: 1.5;
}

/* link base styles */
a {
	color: inherit;
	font-weight: bold;
}

/* rows */
.row {
	display: flex;
	justify-content: center;
	padding: 40px 0;
	width: 100%;
}
.row:first-of-type {
	padding-top: calc(var(--alert-height));
}
.row:nth-child(even) {
	background-color: var(--color-white);
}
.row-content {
	flex: 1;
	padding: 0 40px;
	max-width: 95%;
}
@media (min-width: 768px) {
	.row-content {
		max-width: 85%;
	}
}
@media (min-width: 1024px) {
	.row-content {
		padding: 65px 0;
	}
	/* adjustment for overview row to match design */
	.row:nth-of-type(2) .row-content {
		padding-bottom: 10px;
	}

	/* adjustment for skills row to match design */
	.row:nth-of-type(3) .row-content {
		padding-bottom: 10px;
	}
}
@media (min-width: 1275px) {
	.row-content {
		max-width: 1250px;
	}
}

/* bullet lists */
.bullet-list li {
	line-height: 1.5;
	margin-bottom: 10px;
	padding-left: 20px;
	position: relative;
}

.bullet-list li:before {
	background-color: var(--color-black);
	border-radius: 50%;
	display: block;
	content: '';
	height: 5px;
	left: 0px;
	width: 5px;
	position: absolute;
	top: 12px;
}

/* alert */
.alert {
	background-color: var(--color-orange-light);
	padding: 35px;
	position: fixed;
	text-align: center;
	width: 100vw;
	z-index: 1;
}

.alert-text {
	color: var(--color-orange-dark2);
	line-height: 1.25;
	margin: 0 auto;
	max-width: 760px;
}

/* main header */
.header-main {
	align-items: center;
	display: flex;
	flex-direction: column;
}
.header-main h1 {
	font-size: var(--font-size-h1);
	margin-bottom: 10px;
}
.header-main-subtitle {
	font-size: var(--font-size-h3);
	font-style: italic;
	margin-bottom: 25px;
}
.header-main-picture {
	margin-bottom: 40px;
	padding: 40px 40px 0 0;
}
.header-main-picture img {
	border-radius: 12px;
	box-shadow: 25px 30px var(--color-orange-dark);
	height: auto;
	width: 200px;
}
.header-main p {
	margin-bottom: 25px;
}
.header-main p:last-of-type {
	margin-bottom: 15px;
}
.header-main a {
	color: var(--color-orange-dark);
}
.header-main-links {
	display: flex;
	flex-wrap: wrap;
}
.header-main-links li {
	align-items: center;
	display: inline-flex;
	height: 40px;
	padding-right: 45px;
}
.header-main-links li a {
	color: inherit;
	font-style: italic;
	font-weight: normal;
	padding-left: 10px;
}
@media (min-width: 768px) {
	.header-main-picture img {
		height: 300px;
		width: 300px;
	}
	.header-main-links li {
		padding-right: 45px;
	}
}
@media (min-width: 1024px) {
	.header-main {
		align-items: left;
		flex-direction: row;	
	}
	.header-main-picture {
		padding-top: 0px;
	}
	.header-main-picture {
		margin-bottom: 0px;
		padding-right: 0;
		width: 425px;
	}
	.header-main-text {
		padding-top: 52px;
	}
}

/* overview */
.overview-row {
	display: flex;
	flex-direction: column;
	margin-bottom: 40px;
}
.overview-header {
	font-size: var(--font-size-h2);
	margin-bottom: 15px;
}
.overview-bullets {
	flex: 1;
}
.overview-row:last-child {
	margin-bottom: 0;
}
@media (min-width: 1024px) {
	.overview-header {
		width: 435px;
	}
	.overview-row {
		flex-direction: row;
		margin-bottom: 30px;
	}
	.overview-row:last-of-type {
		margin-bottom: 0;
	}
}

/* tags */
.tags {
	display: flex;
	flex-direction: column;
}
.tags-column {
	flex: 1;
	margin-bottom: 40px;
}
.tags-header {
	font-size: var(--font-size-h2);
	margin-bottom: 30px;
}
.tags-list {
	display: flex;
	flex-wrap: wrap;
}
.tags-list li {
	background-color: var(--color-orange-light);
	border-radius: 25px;
	margin: 0 8px 8px 0;
	padding: 10px;
}
@media (min-width: 1024px) {
	.tags {
		flex-direction: row;
	}
}

/* experience */
.experience-heading {
	font-size: var(--font-size-h1);
	margin-bottom: 40px;
}
.experience-item {
	display: flex;
	flex-direction: column;
	margin-bottom: 70px;
}
.experience-item:last-of-type {
	margin-bottom: 0;
}
.experience-item-company {
	font-style: italic;
	font-size: var(--font-size-h3);
	margin-bottom: 20px;
}
.experience-item-heading {
	font-size: var(--font-size-h2);
	margin-bottom: 20px;
}
.experience-item-text p {
	line-height: 1.5;
	margin-bottom: 20px;
}
.experience-item-subheading {
	font-size: var(--font-size-body);
	margin-bottom: 20px;
}
.experience-item-screenshot {
	margin-bottom: 40px;
}
.experience-item-screenshot img {
	border-radius: 8px;
	box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.2);
	height: auto;
	width: 100%;
}
@media (min-width: 768px) {
	.experience-item-screenshot img {
		width: 400px;
	}
}
@media (min-width: 1024px) {
	.experience-heading {
		height: 100px;
		margin-bottom: 0;
	}
	.experience-item {
		flex-direction: row;
	}
	.experience-item-screenshot {
		margin-bottom: 0px;
		padding-right: 60px;
	}
	.experience-item-screenshot img {
		width: 465px;
	}
}

/* more results */
.more-results {
	display: flex;
	flex-wrap: wrap;
}
.more-results-header {
	font-size: var(--font-size-h1);
	margin-bottom: 60px;
	width: 100%;
}
.more-results-item {
	margin-bottom: 40px;
}
.more-results-item-header {
	font-size: var(--font-size-h3);
	margin-bottom: 20px;
}

@media (min-width: 1024px) {
	.more-results-item-header {
		white-space: nowrap;
	}
	.more-results-item {
		align-items: center;
		flex: 1;
		margin-bottom: 0;
		padding-top: 20px;
		padding-right: 40px;
	}
}

/* site footer */
.site-footer {
	background-color: var(--color-white);
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}
.site-footer a {
	color: var(--color-orange-dark);
}
.site-footer-text-container {
	border-top: 2px var(--color-gray-dark) solid;
	display: flex;
	flex-wrap: wrap;
	max-width: 95%;
	padding: 70px 0;
}
.site-footer-text {
	padding: 0 40px;
	width: 100%;
}
.site-footer-header {
	font-size: var(--font-size-h1);
	margin-bottom: 40px;
}
.site-footer p {
	margin-bottom: 20px;
}
.site-footer-pictures {
	display: flex;
	flex-wrap: wrap;
	padding-left: 40px;
}
.site-footer-picture {
	flex: 1;
	width: 250px;
}
.site-footer-picture:first-of-type {
	margin-right: 40px;
}
.site-footer-picture-text {
	margin-bottom: 15px;
}
.site-footer-picture-caption {
	font-size: var(--font-size-small);
}
.site-footer-picture:first-of-type {
	margin-bottom: 40px;
}
.site-footer-picture img {
	border-radius: 8px;
	object-fit: cover;
	height: 250px;
	margin-bottom: 20px;
	width: 250px;
}
.site-footer-disclaimers {
	background-color: var(--color-gray-light);
	display: block;
	padding: 40px 0;
	text-align: center;
	width: 100%;
}
.site-footer-disclaimers a {
	color: inherit;
	font-size: var(--font-size-small);
	font-weight: normal;
}
.site-footer-disclaimers p {
	font-size: var(--font-size-small);
}
@media (min-width: 768px) {
	.site-footer-text-container {
		max-width: 85%;
	}
	.site-footer-disclaimers p,
	.site-footer-disclaimers a {
		font-size: var(--font-size-body);
	}
}
@media (min-width: 1024px) {
	.site-footer-text {
		flex: 1;
		padding-left: 0;
		padding-right: 40px;
	}
	.site-footer-pictures {
		flex-wrap: nowrap;
		padding-left: 0;
	}
}
@media (min-width: 1275px) {
	.site-footer-text-container {
		max-width: 1225px;
		padding-top: 120px;
	}
}
