.more-results {
	display: flex;
	flex-wrap: wrap;
}

.more-results-header {
	font-size: var(--font-size-h1);
	margin-bottom: 60px;
	width: 100%;
}

.more-results-item {
	margin-bottom: 40px;
}

.more-results-item-header {
	font-size: var(--font-size-h3);
	margin-bottom: 20px;
}

@media (width >= 1024px) {
	.more-results-item-header {
		white-space: nowrap;
	}

	.more-results-item {
		align-items: center;
		flex: 1;
		margin-bottom: 0;
		padding-top: 20px;
		padding-right: 40px;
	}
}