{
    "extends": "plugin:eslint-config-standard",
    "parserOptions": {
        "ecmaVersion": 5,
        "sourceType": "commonjs"
    },
    "rules": {},
    "overrides": [
        {
            "files": [
                "*.ts", "*.tsx"
            ],            
            "extends": ["plugin:eslint-config-love"],
            "parser": "@typescript-eslint/parser",
            "parserOptions": { "ecmaVersion": "latest", "sourceType": "module" },
        },
        {
            "files": [
                "jest.config.js",
                "stylelint.config.js",
                "webpack.config.js"
            ]
        }
    ]
}